* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Estilos del header*/

/* Estilos del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #d40000;
}
a {
    text-decoration: none;
}

/*Logo*/
.logo {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    }

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #ffff;
    font-weight: 100;
}

/* Estilos del main */

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    color: rgb(52, 51, 51);
}

h1 {
    padding: 150px 0px 0px 300px;
}

.section-principal p{
    width: 500px;
    margin: 30px 35px 40px 300px;
    text-align: justify;
}

.img-lasagna {
    margin-left: 300px;
    border-radius: 5px;
}

h2, h3, h4 {
    margin: 30px 35px 40px 300px;
    font-size: 30px;
}

.section-ingredients p {
    width: 500px;
    margin: 10px 15px 20px 300px;
    text-align: justify;
}

.section-steps p {
    width: 500px;
    margin: 10px 15px 20px 300px;
    text-align: justify;
}